* {
    padding: 0;
    margin: 0;
}


.banner {}

.banner img {
    height: 600;
    width: 100%;
    object-fit: cover;
    background-position: center;
}

#logo {
    background-image: url(bb.jpg);
    object-fit: cover;
    background-position: center;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

#logo:before {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    opacity: 0.79;
}

header {
    text-align: center;
    color: #45ffba;
    text-transform: capitalize;
    font-size: 45px;
    font-family: Arial;
    float: left;
    position: relative;
    font-family: 'Bungee', cursive;

    z-index: 2;
    font-style: bold;
    margin: -50px 0px 0px 50px;
}

h1 {}

.lll {
    text-align: center;
    margin: 45px 30px;
    float: right;
    position: relative;
}

.lll a {
    text-decoration: none;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 9px 30px;
    display: inline-block;
    overflow: hidden;
    font-size: 30px;
    font-family: 'Kreon', serif;
    margin: 0px 20px;
    overflow: hidden;
}

.lll a:hover {
    overflow: hidden;
    color: #000000;
    /* font-family: 'Kreon', serif; */
    border-radius: 40px;
    background: #45ffba;
}

.info {

    position: absolute;
    left: 50%;
    overflow: hidden;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.info h5 {
    color: #45ffba;
    font-size: 50;
    font-family: 'Kreon', serif;
}

.info p {
    color: #ffffff;
    font-size: 30;
    font-family: 'Kreon', serif;
}

.read a {

    text-decoration: none;

    color: black;

    font-size: 20px;

    font-family: 'Kreon', serif;

    margin: 0px 0;

    padding: 0px 0;

    font-weight: bold;
}

.read {
    background: #45ffba;
    padding: 10px 30px;
    display: inline-block;
    margin: 40px 0;
    border-radius: 10px;
    text-decoration: none;
}


.area {
    width: 1200px;
    margin: 0px auto;
    overflow: hidden;
    padding: 0;
}

.box1 {
    margin: 100px 0;
    overflow: hidden;
}

.gpu-pic {
    float: left;
    margin: 0px 50px;
}

.gpu-pic img {}

.information {
    float: right;
    width: 598px;
    border-left: 2px solid #00000066;
    margin: 0px 0px;
    height: 500px;
}

.information h4 {
    font-size: 35px;
    color: #021650;
    font-family: 'Kreon', serif;
    margin: 50px 60px;
}

.information p {
    color: #000000;
    font-size: 20px;
    margin: 20 60;
    font-family: 'Kreon', serif;
}


.information p span {
    color: #000000;
    margin: 0 15px 0px 0px;
    font-size: 35px;
    font-family: 'Kreon', serif;
}




.box2 {
    margin: 100px 0;
    overflow: hidden;
}

.gpu-pic2 {
    float: right;
    margin: 0px 50px;
}

.gpu-pic img {}

.information2 {
    float: left;
    width: 598px;
    border-right: 2px solid #00000066;
    margin: 0px 0px;
    height: 500px;
}

.information2 h4 {
    font-family: 'Kreon', serif;
    font-size: 35px;
    color: #021650;
    margin: 50px 60px;
}

.information2 p {
    color: #000000;
    margin: 20 60;
    font-family: 'Kreon', serif;
    font-size: 20px;
}


.information2 p span {
    color: #000000;
    font-family: 'Kreon', serif;
    margin: 0 15px 0px 0px;
    font-size: 35px;
}











.about {
    overflow: hidden;
    width: 100%;
    height: 500;

    text-align: center;

    margin: 0px 0 0px 0px;
}

.about-left {
    float: left;
    width: 700px;
    margin-right: 30px;
}

.about-left h4,
.about-menu h4 {
    text-align: center;
    color: #021650;
    text-transform: initial;
    font-size: 40px;
    font-family: 'Kreon', serif;
    font-style: bold;
    overflow: hidden;
    Margin: 20px 0px 20px 0px;
    text-decoration: none;
}

.about-left p {
    margin: 15px 10px;
    font-size: 15px;
    font-family: 'Kreon', serif;
    font-family: 'Muli', sans-serif;
    text-align: justify;
}

.about-left a {

color: white;

text-decoration: none;

padding: 10px 40px;

background: #021650;

display: inline-block;

border-radius: 20px;

overflow: hidden;

font-family: 'Kreon', serif;

margin: 10px 54px;

font-size: 20;
}

.about-left a:hover {

    overflow: hidden;
    color: #4a4239;
    background: #38d585;

}

li {
    list-style: none;
}


















.about-menu {
    float: right;
    width: 270px;

}



.about-menu ul li {
    list-style: none;

}

.about-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    background: #021650;
    border-radius: 20px;
    padding: 10px 40px;
    display: inline-block;
    overflow: hidden;
    font-size: 20px;
}





.about-menu ul li a:hover {

    overflow: hidden;
    color: #4a4239;
    background: #38d585;

}






























.about-list,
.support-list {

    padding: 20px 20px;
    margin: 0px 10px 20px 10px;
    text-align: left;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.about-list ul,
.support-list ul {
    list-style: none;


}

.about-list ul li,
.support-list ul li {
    margin: 10px 0;
    color: #45ffba;
    font-size: 20;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.about-list ul a,
.support-list ul a {
    text-decoration: none;
    color: #fff2e5;
    font-size: 15;
}

.about-list ul a:hover,
.support-list ul a:hover {
    color: #43f7a2;
    text-decoration: underline;
}

.follow h4 {
    color: #45ffba;
    font-size: 25px;
}

.copy p {
    color: #45ffba;
    font-size: 20;
    margin: 20px 0;
}




.about-list ul li span,
.support-list ul li span {
    font-size: 25;
}

.footer {
    text-align: center;
    width: 100%;
    height: auto;
    background: #1e1e1e url(fot.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: relative;
}

.footer::before {
    position: absolute;
    width: 100%;
    content: "";
    background: #000000;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.75;
}

.follow {
    position: relative;
}

.copy {
    position: relative;
}

.copy p {
    position: relative;
}

.follow a img {
    width: 30px;
    height: 30px;
    margin: 20px 20px;
    padding: 3px 3px;
    overflow: hidden;
}


.follow a img:hover {
    border: 5px solid #45ffba;
    border-radius: 13px;
}